h3.accordion{ 
	cursor: pointer; 
	line-height: 100%; 
	margin: 0;
	width: 90%; 
	padding: 3px 0px 3px 10%;
	border-bottom: 1px #ddd solid;
  
	}
	
ul.accordion{ 
	display: none; 
	padding: 0;
	list-style-type: none;
	 margin:0;
	}
